@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}



<!-- Jumbotron, w title -->
        <div class="jumbotron text-center jumbotron-fluid">
            <div class="container">
                <h1 class="display-1">@Model.Value("pageTitl    e")</h1>
            </div>
        </div>

        <!-- This is where we're going to render our content -->

        <div class="container">

            @Model.Value("bodyText")
        </div>